.box1
  #buttons_menu
    .wrapper
      .button
        = image_tag 'site_create.png', :alt => 'Разработка сайта'
        = link_to 'Создание сайтов', article_path(2)
    .wrapper
      .button
        = image_tag 'site_pr.png', :alt => 'Раскрутка сайта'
        = link_to 'Раскрутка сайтов', article_path(3)
    .wrapper
      .button
        = image_tag 'site_support.png', :alt => 'Поддержка сайта'
        = link_to 'Поддержка сайтов', article_path(4)
  .clear
.box2
  %h1<
    = @article.title
  = raw(@article.body)
  = render 'shared/tags'
