#header_wrap
  #header
    %a{ :href => '/' }
      = image_tag('header/logo.png', :alt => 'NikSan', :id => 'logo')
    = image_tag('header/website_development.png', :alt => 'website development', :id =>'website_development')
    %ul#main_menu
      %li<
        - id = ( controller_name == 'main' ) ? 'act_button' : nil
        = link_to 'Главная', root_path, :id => id
        - id = ( controller_name == 'sites' ) ? 'act_button' : nil
        = link_to 'Портфолио', sites_path, :id => id
        - id = ( controller_name == 'articles' && @article_id == 5 ) ? 'act_button' : nil
        = link_to 'Цены', article_path(5), :id => id
        - id = ( controller_name == 'contacts' ) ? 'act_button' : nil
        = link_to 'Контакты', contacts_path, :id => id
        - id = ( controller_name == 'blog' || 'posts' ) ? 'act_button' : nil
        = link_to 'Блог', blog_index_path, :id => id
  .bottom_line
