%h1
  = @article.title
= raw(@article.body)
#message_form
  %span.header
    Отправка сообщения:
  = form_for :message do |f|
    %fieldset
      .clearfix
        = f.label :name, 'Имя: '
        .input
          = f.text_field :name
      .clearfix
        = f.label :email, 'E-mail: '
        .input
          = f.text_field :email
      .clearfix
        = f.label :phone, 'Телефон: '
        .input
          = f.text_field :phone
      .clearfix
        = f.label :theme, 'Тема: '
        .input
          = f.text_field :theme
      .clearfix
        = f.label :body, 'Сообщение: '
        .input
          = f.text_area :body 
    .actions
      = f.submit 'Отправить', :class => 'btn primary'
