%h1
  != @post.title
.select_blog_part
  = link_to 'Блог', blog_index_path
  &rarr;
  = link_to @post.blog.name, @post.blog
= rss_button
%p
  %span.date
    = l @post.date, :format => :short_date
!= @post.body
= render :partial =>'shared/tags', :locals => { :tags => @post.tags }
