%h1
	= link_to 'Портфолио', sites_path
	&rarr;
	= @site.name
= image_tag @site.image.url(:small), :align => :left, :class => 'small_site_img'
= raw(@site.description)
%p
	Адрес сайта: 
	= link_to @site.url, @site.url, :target => '_blank'
