!!!
%html
  %head
    %meta{ :content => 'text/html; charset=UTF-8', :'http-equiv' => 'Content-Type' }
  %body
  %p
    Тема:
    = @theme
  %p
    Имя:
    = @name
  %p
    Email:
    = @email
  %p
    Телефон:
    = @phone
  %p
    Сообщение:
    = @msg
